{% extends "index.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/desc.css">
{% endblock %}

{% block main %}
<section>

	<h1>
		{{item.name}}
	</h1>
	<p>{{item.description}}</p>
	{% if user %}
	<a href="/app/{{item.category.name}}/{{item.name}}/edit" style="width:10%;padding:2%,5%;margin-right:1%">Edit</a>
	<a href="/app/{{item.category.name}}/{{item.name}}/delete" style="width:10%;padding:2%,5%;margin-right:1%">Delete</a>
	{% endif %}
	<a href="/app">Back to home</a>
</section>
{% endblock %}